.main {
  width: 90%;
  height: 90%;
  background: "#fff";
  border-radius: 5px;
}
/* App.css */
.notification-list {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 1000;
}

.notification {
  background: #333;
  color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.notification button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
